body {
	background-color: rgb(30 30 30);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
	color: rgb(170 170 170);
	font-family: Lora, 'Playfair Display', Georgia, serif;
	margin: 0;
	padding: 0;
}

h1 { /* Alt0 */
	font-size: 2.5rem;
	margin: 20px 20px 10px;
	text-align: center;
}

h2 { /* <random tagline> */
	border-bottom: 1px solid;
	border-bottom-color: rgb(20 20 20 / 80%);
	font-size: 1.1rem;
	font-style: italic;
	font-weight: lighter;
	margin: 10px 20px 20px;
	padding-bottom: 10px;
	text-align: center;
}

div#page {
	display: grid;
	grid-template-columns: 2fr 7fr;
	margin: 10px 20px 40px;
}

@media screen and (width <= 600px) {
	div#page {
		display: block;
	}
} 

div#footer {
	display: grid;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 0.8rem;
	grid-template-columns: 1fr 1fr;
	margin: 10px 20px 40px;
	padding: 0;
}

@media screen and (width <= 600px) {
	div#footer {
		display: block;
	}
}

div#socials, div#sites {
	border: 1px solid rgb(40 40 40 / 60%);
	background-color: rgb(40 40 40 / 30%);
	border-radius: 14px;
	margin: 7px;
	padding: 7px 7px 7px 21px;
}

div#socials h3, div#sites h3 {
	border-bottom: 2px solid;
	border-bottom-color: rgb(20 80 100);
	display: inline;
}

div#sidebar {
	font-family: 'Open Sans', Helvetica, sans-serif;
}

div#sidegray {
	border: 1px solid rgb(20 20 20 / 80%);
	background-color: rgb(20 20 20 / 40%);
	border-radius: 14px;
	padding: 14px;
}

div#content {
	border: 1px solid rgb(20 20 20 / 80%);
	background-color: rgb(20 20 20 / 40%);
	border-radius: 7px;
	margin-left: 21px;
	padding: 7px 7px 7px 21px;
}

@media screen and (width <= 600px) {
	div#content {
		margin-left: 0;
		margin-top: 21px;
	}
} 

div#content h1, div#content h2, div#content h3, div#content h4 {
	border: 0 none;
	margin: 0 0 21px;
	padding: 0;
	text-align: left;
	text-decoration: underline;
	text-decoration-color: rgb(20 80 100);
}

div#content h1 {
	font-size: 2rem;
}

div#content h2 {
	border: 0 none;
	font-size: 1.3rem;
	font-style: normal;
	font-weight: bold;
}

div#content p {
	line-height: 1.5;
	margin: 0 0 42px;
	padding: 0;
}

div#content ol, div#content ul {
	line-height: 2;
	margin-bottom: 42px;
}

div#content code {
	background-color: rgb(20 80 100 / 15%);
	border-radius: 7px;
	font-style: italic;
	margin: 0;
	padding: 5px 7px;
}

div#pagenotfound {
	color: rgb(115 115 115);
	font-size: 0.6rem;
	font-style: italic;
	text-align: right;
}

div#by {
	border: 1px solid rgb(40 40 40 / 60%);
	background-color: rgb(40 40 40 / 30%);
	border-radius: 7px;
	top: 10px;
	color: rgb(180 180 180 / 60%);
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 0.7rem;
	padding: 7px;
	position: absolute;
	right: 10px;
}

img[src*="#bandlogo"] {
	border: 1px solid rgb(40 40 40 / 30%);
	border-radius: 14px;
	float: right;
	padding: 7px;
}

img[src*="#badge"] {
	border: 1px solid rgb(40 40 40 / 30%);
	border-radius: 14px;
	float: right;
	max-height: 50px;
	height: auto;
	width: auto;
	padding: 7px;
}

hr {
	border: 1px dashed;
	border-color: rgb(40 40 40 / 60%);
}

a {
	color: rgb(80 140 180);
	text-decoration: none;
}

h1 a {
	color: rgb(130 170 190);
}

a:hover {
	color: rgb(190 100 30);
}

div#navigation a {
	color: rgb(80 140 180);
}

div#content a {
	font-weight: bold;
}

div#navigation a:hover {
	color: rgb(190 100 30);
}
